<div class="d-flex flex-column h-100">
  <section class="pt-6 pt-md-11 bg-dark">
    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 text-center text-white">
          <h1 class="mt-5 mb-4 text-warning"><span class="h-3">⚡</span> QR Code Generator ⚡</h1>
          <p class="font-size-lg">Just write something in the textarea</p>
        </div>
      </div>
    </div>
  </section>
  <div class="position-relative">
    <div class="shape shape-fluid-x shape-bottom text-dark pb-18">
      <div class="shape-img pb-8 pb-md-11">
        <svg viewBox="0 0 100 50" preserveAspectRatio="none">
          <path d="M0 0h100v25H75L25 50H0z" fill="currentColor"></path>
        </svg>
      </div>
    </div>
  </div>
  <section class="pt-6 pt-md-8 mb-10 container-lg flex-grow-1">
    <div class="row justify-content-center flex-column">
      <div class="mb-5">
        <ngx-qrcode
          [elementType]="elementType"
          [errorCorrectionLevel]="correctionLevel"
          [value]="value"
          cssClass="bshadow"></ngx-qrcode>
      </div>
      <div class="form-group text-center">
        <textarea [(ngModel)]="value" class="form-control d-inline-flex w-25" rows="1"></textarea>
      </div>
    </div>
  </section>
  <section class="bg-dark border-multicolor">
    <div class="container-lg">
      <div class="row align-items-center">
        <div class="col-12">
          <hr class="border-gray-900 mt-0 mb-8"></div>
        <div class="col-md text-center">
          <a href="https://www.linkedin.com/in/joffrey-k-916330a9/" target="_blank" rel="noopener noreferrer">
            <div class="button-linkedin">&nbsp;</div>
          </a>
        </div>
        <div class="col-12"><hr class="border-gray-900 mb-0 mt-8"></div>
      </div>
    </div>
  </section>
</div>
